<div class="container">

  <span class="header">Pizzaria Horacio</span>

  <div id="container_demo">

    <div id="wrapper">

      <div id="comanda">
          <h1>Comanda</h1>

          <form>
            <p>
              <label>Chopp</label>
              <input type="text" name="inChopp"/>
            </p>
            <p class="keepcomanda">
                <input type="checkbox" name="inServico"/>
                <label>Taxa de serviço</label>
            </p>

            <p class="comanda button">
              <input type="submit" value="Registrar">
            </p>

          </form>
          
          <p class="about">Davi Damasio <br> Gabriel Amorim</p>

      </div>

    </div>

  </div>

</div>